asgiref==3.7.2
asyncio==3.4.3
certifi==2023.11.17
charset-normalizer==3.3.2
Django==3.2.15
django-extensions==3.2.3
django-filter==23.5
djangorestframework==3.14.0
djangorestframework-jsonapi==6.1.0
idna==3.6
inflection==0.5.1
python-dotenv==1.0.1
pytz==2023.4
requests==2.31.0
sqlparse==0.4.4
urllib3==2.2.0
uuid==1.30